body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.button {
    font-family: Verdana;
    color: aquamarine;
    font-size: 16px;
}

h2 {
    font-family: Verdana;
    font-weight: 300px;
    font-size: 42px;
    color: white;
}

p {
font-family: verdana;
font-size: 21px;
color:gray;
}

.copyright {
    text-align:right;
    color:gray;
}

img {
    width:auto;
    max-width: 100%;
    height:auto;
}